<%-include("header")-%>

<h1>Type something...</h1>
<form action="/blogtext" method="post">
  
    <input type="text" name ="text2" placeholder="Enter name Of the Blog" class="text2">
    <br>
<textarea  class="textBlog" placeholder ="type something..." name="text3">

</textarea>
<% console.log("hello") %>
        
    <button class="bt-btn" >Add Blog</button> 
</form>


<%-include("footer")-%>